[submodule "edgeai-dl-inferer"]
	path = edgeai-dl-inferer
	url = https://git.ti.com/git/edgeai/edgeai-dl-inferer.git
	branch = main
[submodule "edgeai-tiovx-kernels"]
	path = edgeai-tiovx-kernels
	url = https://git.ti.com/git/edgeai/edgeai-tiovx-kernels.git
	branch = main
[submodule "edgeai-tiovx-modules"]
	path = edgeai-tiovx-modules
	url = https://git.ti.com/git/edgeai/edgeai-tiovx-modules.git
	branch = main
[submodule "edgeai-gst-plugins"]
	path = edgeai-gst-plugins
	url = https://github.com/TexasInstruments/edgeai-gst-plugins.git
	branch = main
[submodule "edgeai-gst-apps"]
	path = edgeai-gst-apps
	url = https://github.com/TexasInstruments/edgeai-gst-apps.git
	branch = main
[submodule "edgeai-tiovx-apps"]
	path = edgeai-tiovx-apps
	url = https://github.com/TexasInstruments/edgeai-tiovx-apps.git
	branch = main
[submodule "edgeai-apps-utils"]
	path = edgeai-apps-utils
	url = https://git.ti.com/git/edgeai/edgeai-apps-utils.git
	branch = main
[submodule "edgeai-studio-agent"]
	path = edgeai-studio-agent
	url = https://github.com/TexasInstruments/edgeai-studio-agent.git
	branch = main
[submodule "ti-gpio-py"]
	path = ti-gpio-py
	url = https://github.com/TexasInstruments/ti-gpio-py.git
	branch = master
[submodule "ti-gpio-cpp"]
	path = ti-gpio-cpp
	url = https://github.com/TexasInstruments/ti-gpio-cpp.git
	branch = master
[submodule "edgeai-gui-app"]
	path = edgeai-gui-app
	url = https://git.ti.com/git/apps/edgeai-gui-app.git
	branch = master
